/********************
**** GLOBAL VARIABLES *
*******************/

:root {
  --Moderate-cyan: hsl(176, 50%, 47%);
  --Dark-cyan: hsl(176, 72%, 28%);
  --Black: hsl(0, 0%, 0%);
  --Dark-gray: hsl(0, 0%, 48%);
}

/********************
**** FONT STYLE *
*******************/

/* 
font-family: 'Commissioner', sans-serif;
400, 500, 700
*/

/********************
**** STYLE *********s
*******************/

/********************
**** NAV *********
*******************/

nav {
  background-image: url(../images/image-hero-desktop.jpg);
  height: 40rem;
}

.navigation {
  display: flex;
  gap: 10rem;
}

/********************
**** LOGO *********
*******************/

.img__logo {
  margin-top: 2rem;
  margin-left: 10rem;
}

/********************
**** LINKS *********
*******************/

.nav__link {
  margin-top: 2rem;
  margin-left: 76rem;
}

.links {
  height: 1rem;
}
.links:link,
.links:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  width: 100%;
  font-size: 1.6rem;
  font-family: "Commissioner", sans-serif;
}

.links:hover,
.links:active {
  color: #fff;
}

/********************
**** FRIST PAGE ****
*******************/

.first_page > h1 {
  font-size: 3rem;
  font-family: "Commissioner", sans-serif;
}

.first_page > p {
  font-size: 1.4rem;
  font-family: "Commissioner", sans-serif;
  letter-spacing: 1.2px;
  color: var(--Dark-gray);
  margin-top: 1.2rem;
}

/********************
**** FRIST PAGE ***
******* BUTTONS ****
*******************/

.buttons {
  display: flex;
  gap: 30rem;
  margin-top: 4rem;
}

.book__ {
  height: 5rem;
  width: 18rem;
  border-radius: 26px;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  font-family: "Commissioner", sans-serif;
  font-weight: 700;
  background-color: var(--Moderate-cyan);
  color: #fff;
}

button.book__:hover {
  background-color: var(--Dark-cyan);
}

.book__marker {
  height: 5rem;
  width: 18rem;
  border-radius: 26px;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  font-family: "Commissioner", sans-serif;
  font-weight: 700;
  background-color: #f1f1f1;
  color: var(--Dark-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

button.book__marker :hover {
  background-color: #f1f1f1;
  opacity: 0.5;
  cursor: pointer;
}

.bookmark__logo {
  width: 5rem;
  margin-right: 0.8rem;
}

button.bookmark__logo:hover {
  opacity: 0.5;
}

.button__paragraph {
  margin-right: 5rem;
}
